[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "boe"]
	path = boe
	url = https://github.com/charlescoverdale/boe
[submodule "fred"]
	path = fred
	url = https://github.com/charlescoverdale/fred
[submodule "hmrc"]
	path = hmrc
	url = https://github.com/charlescoverdale/hmrc
[submodule "inflateR"]
	path = inflateR
	url = https://github.com/charlescoverdale/inflater
[submodule "obr"]
	path = obr
	url = https://github.com/charlescoverdale/obr
[submodule "ons"]
	path = ons
	url = https://github.com/charlescoverdale/ons
[submodule "predictset"]
	path = predictset
	url = https://github.com/charlescoverdale/predictset
[submodule "readaec"]
	path = readaec
	url = https://github.com/charlescoverdale/readaec
[submodule "readecb"]
	path = readecb
	url = https://github.com/charlescoverdale/readecb
[submodule "readnoaa"]
	path = readnoaa
	url = https://github.com/charlescoverdale/readnoaa
[submodule "readoecd"]
	path = readoecd
	url = https://github.com/charlescoverdale/readoecd
