[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "inflateR"]
	path = inflateR
	url = https://github.com/charlescoverdale/inflater
[submodule "readaec"]
	path = readaec
	url = https://github.com/charlescoverdale/readaec
