[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aemo"]
	path = aemo
	url = https://github.com/charlescoverdale/aemo
[submodule "ato"]
	path = ato
	url = https://github.com/charlescoverdale/ato
[submodule "boe"]
	path = boe
	url = https://github.com/charlescoverdale/boe
[submodule "carbondata"]
	path = carbondata
	url = https://github.com/charlescoverdale/carbondata
[submodule "cer"]
	path = cer
	url = https://github.com/charlescoverdale/cer
[submodule "climatekit"]
	path = climatekit
	url = https://github.com/charlescoverdale/climatekit
[submodule "comtrade"]
	path = comtrade
	url = https://github.com/charlescoverdale/comtrade
[submodule "debtkit"]
	path = debtkit
	url = https://github.com/charlescoverdale/debtkit
[submodule "fred"]
	path = fred
	url = https://github.com/charlescoverdale/fred
[submodule "greenbook"]
	path = greenbook
	url = https://github.com/charlescoverdale/greenbook
[submodule "hmrc"]
	path = hmrc
	url = https://github.com/charlescoverdale/hmrc
[submodule "inequality"]
	path = inequality
	url = https://github.com/charlescoverdale/inequality
[submodule "inflateR"]
	path = inflateR
	url = https://github.com/charlescoverdale/inflater
[submodule "inflationkit"]
	path = inflationkit
	url = https://github.com/charlescoverdale/inflationkit
[submodule "ivcheck"]
	path = ivcheck
	url = https://github.com/charlescoverdale/ivcheck
[submodule "magentabook"]
	path = magentabook
	url = https://github.com/charlescoverdale/magentabook
[submodule "mpshock"]
	path = mpshock
	url = https://github.com/charlescoverdale/mpshock
[submodule "nowcast"]
	path = nowcast
	url = https://github.com/charlescoverdale/nowcast
[submodule "obr"]
	path = obr
	url = https://github.com/charlescoverdale/obr
[submodule "ons"]
	path = ons
	url = https://github.com/charlescoverdale/ons
[submodule "predictset"]
	path = predictset
	url = https://github.com/charlescoverdale/predictset
[submodule "readaec"]
	path = readaec
	url = https://github.com/charlescoverdale/readaec
[submodule "readecb"]
	path = readecb
	url = https://github.com/charlescoverdale/readecb
[submodule "readnoaa"]
	path = readnoaa
	url = https://github.com/charlescoverdale/readnoaa
[submodule "readoecd"]
	path = readoecd
	url = https://github.com/charlescoverdale/readoecd
[submodule "ukhousing"]
	path = ukhousing
	url = https://github.com/charlescoverdale/ukhousing
[submodule "yieldcurves"]
	path = yieldcurves
	url = https://github.com/charlescoverdale/yieldcurves
